.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

.venv/
venv/
env/

/config/
*.env

/images/
/weights/
/yolo_models/

data/dataset/
data/downloads/
data/raw/

results/generated/
results/tmp/

scripts/gcp_calibration/gcp_annotations/
scripts/generate_topo_map/geojson/
scripts/gaussian_heatmap_resnet/dataset*/
scripts/gaussian_heatmap_resnet/orthomosaic_dataset/
scripts/gaussian_heatmap_resnet/heatmap_masks_from_yolo_labels/
scripts/gaussian_heatmap_resnet/heatmap_masks_from_yolo_labels_and_gps_labels/
scripts/gaussian_heatmap_resnet/results_resnet/
scripts/gaussian_heatmap_resnet/resnet_inference/
scripts/gaussian_heatmap_resnet/inference_resnet_yolo_labels/
scripts/gaussian_heatmap_resnet/gaussian_heatmap_hybrid/results_hybrid/
scripts/roboflow_rfdetr/runs/

*.pt
*.pth
*.onnx

*.aux
*.bcf
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
